body {
  background: #FFF4FD;
}

.captura-light .header {
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

.captura-light .header h1 {
  font-size: 12px;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  color: #FFFFFF;
}

.captura-light .crear-guifos {
  width: 678px;
  background: #E6E6E6;
  height: 386px;
  margin: auto;
}

.captura-light .encabezado {
  display: inline-block;
  margin-bottom: 78px;
}

.captura-light .encabezado #flecha {
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}

.captura-light .encabezado #id {
  margin-left: 10xp;
}

.captura-light .barra-crear {
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 600;
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  margin-bottom: 30px;
}

.captura-light .crear-guifos .ventana {
  float: left;
  position: relative;
  margin-left: 25px;
}

.captura-light .crear-guifos .crear-guifos-texto {
  font-family: "Chakra Petch", sans-serif;
  float: right;
  width: 518px;
  margin-right: 80px;
}

.captura-light .crear-guifos .crear-guifos-texto .titulo {
  font-size: 16px;
}

.captura-light .crear-guifos .crear-guifos-texto .crear-texto {
  font-size: 14px;
}

.captura-light .crear-guifos .crear-guifos-texto .botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.captura-light .crear-guifos .crear-guifos-texto .botones a {
  text-decoration: none;
  color: inherit;
}

.captura-light .crear-guifos .crear-guifos-texto .botones .div-cancelar, .captura-light .crear-guifos .crear-guifos-texto .botones .div-comenzar {
  width: 144px;
  height: 36px;
  margin-top: 28px;
}

.captura-light .crear-guifos .crear-guifos-texto .botones .div-cancelar p, .captura-light .crear-guifos .crear-guifos-texto .botones .div-comenzar p {
  margin-left: 40px;
  margin-top: 8px;
}

.captura-light .crear-guifos .crear-guifos-texto .botones .div-cancelar {
  background: #FFF4FD;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  margin-right: 16px;
  cursor: pointer;
}

.captura-light .crear-guifos .crear-guifos-texto .botones .div-comenzar {
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  cursor: pointer;
}

.captura-light .grabacion {
  height: 548px;
  width: 860px;
  background: #E6E6E6;
  position: absolute;
  z-index: 2;
  top: 15%;
  left: 20%;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  display: none;
}

.captura-light .grabacion .chequeo {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  height: 22px;
  font-weight: 600;
  position: relative;
  margin-bottom: 8px;
}

.captura-light .grabacion .chequeo img {
  right: 1%;
  margin-top: 4px;
  position: absolute;
  cursor: pointer;
}

.captura-light .grabacion .boton-capturar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 24px;
  margin-left: 650px;
}

.captura-light .grabacion .boton-capturar .icono-camara {
  height: 36px;
  width: 36px;
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  cursor: pointer;
}

.captura-light .grabacion .boton-capturar .icono-camara img {
  margin-left: 9px;
  margin-top: 9px;
}

.captura-light .grabacion .boton-capturar video {
  height: 434px;
  width: 832px;
}

.captura-light .grabacion .boton-capturar .div-capturar {
  height: 36px;
  width: 144px;
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  cursor: pointer;
}

.captura-light .grabacion .boton-capturar .div-capturar p {
  margin-left: 40px;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  margin-right: 24px;
  margin-top: 8px;
}

.captura-light #tendencias {
  background-color: #FFFFFF;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  color: #110038;
  position: absolute;
}

.captura-light #tendencias p {
  position: relative;
  margin-top: 5px;
}
/*# sourceMappingURL=captura-css.css.map */